folium
streamlit-folium
Markdown
markdown-it-py
MarkupSafe
matplotlib
numpy
oauthlib
opt-einsum
packaging
pandas
pandas-profiling
streamlit
streamlit-apexjs
streamlit-card
streamlit-elements
streamlit-option-menu
streamlit-pandas-profiling
plotly
plotly-express
scikit-learn
seaborn
scipy
seaborn
streamlit-extras
decorator
deprecation
numerize
openpyxl