folium==0.14.0
streamlit-folium==0.15.0
Markdown==3.6.0
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib
numerize==0.12
numpy
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging
pandas
streamlit
streamlit-apexjs==0.0.3
streamlit-card==0.0.4
streamlit-elements==0.1.0
streamlit-option-menu==0.3.2
streamlit-pandas-profiling
streamlit-extras
streamlit-card==0.0.4
plotly
plotly-express
scikit-learn
seaborn
scipy
decorator
deprecation